Options +FollowSymLinks
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /Chat/Web-App/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*?)$ index.php [L]
</IfModule>

<Files ~ "^\.(htaccess|htpasswd)$">
  deny from all
</Files>

